html, body {
	margin: 0px;
	padding: 0px;
}

body {
	padding-top: 50px
}

.box{
 		height: 100%;
 		padding:5px;
   		width: 100%;
   		margin: 5px;
   		background-color: gray;
   	}
   
    
.box_1  {

		width:25%;
		float:left;

}

.box_2  {
		
		width: 25%;
		float: left;
		box-sizing: border-box;
		

		
}
    
.sticky {
    	width: 100%;
    	position: fixed;
    	background-color: orange;
    	height: 40px;
    	top: 0px;
    	text-align: center;
    	box-sizing:border-box;

}

.sticky .p{
    font-size: 10px;
}

.españa {
	height: 60px;
	width: 300px;
	border: 10px;
	background-color: red;
}

.españa_2 {

	height: 90px;
	width: 300px;
	border: 10px;
	background-color: yellow;

}

.dinamarca_1 {
	height: 100px; 
	width: 100px;
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: red;
	float: left;



}

.dinamarca_2 {
	height: 100px;
	width: 200px;
	background-color: red;
	float: left;



}

.dinamarca_3 {
	height: 100px;
	width: 100px;
	margin-bottom:  10px;
	background-color: red;
	clear: left;
	
}

.dinamarca_4 {
	height: 100px;
	width: 200px;
	background-color: red;
}

.texto {
	background-color:#b0ccab; 
	padding:50px;
	position:fixed; 
	left:40px;
}

.lorem {
	
	text-align: right; 
	 

	
}



.lente {
height: 200px;
width: 100px;
left: 50%;
float: left;
position: absolute;

}

.ribbon {
position: relative;
left: 51.9%;
padding-top:44px;



}


.baterias {
height: 200px;
width: 100px;
left: 50%;
float: left;
position: absolute;

}

.despacho {
position: relative;
left: 64.7%;
padding-top:207.5px;



}

.pantallazo {
	position: absolute;
	right: 0px;
}


	 
		 ul.menu {
		list-style: none;
		padding: 0px;
		margin: 0px;
		top: 0px;
		
	}

		  ul.menu li {
		box-sizing: border-box;
		background: olive;
		width: 25%;
		float: left;
	}
		  
		  ul.menu li a {
		 color: #FFF;
		 text-decoration: none;
		 display: block;
		 padding: 10px;
		 
		 }

		 ul.menu li a: hover{ 
		 background: #000;
		}


.ejercicio8 {
	clear: left;
}

.parrafo_1 {
	background-color: black;
}








